/* Site Header
---------------------------------------------- */


.before-header {
	background:$primary-blue;
	color:#fff;
	font-weight:bold;

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width:144rem;
		margin:0 auto;

		@include respond(lt-lg) {
			overflow:hidden;
		}

		@include respond(dt-sm) {
			padding-right: 2rem;
			padding-left: 2rem;
		}

		@include respond(tab) {
			display:none;
		}
	}

	.block {

		@include respond(lt-lg) {
			margin: 0 15px;
		}
	}
	
	p {
		color:#fff;
		margin:0;
		font-size:2rem;

		@include respond(lt) {
			line-height: 125%;
			font-size:1.5rem;
		}
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@include respond(lt-lg) {
			line-height: 125%;
		}
		
		li {
			
			a {
			color:#fff;
			padding: 15px;
			border-left: 1px solid #333;
			transition: all 0.3s ease;
			font-size:1.7rem;
			text-decoration: none;
			display:block;

			@include respond(lt-lg) {
				font-size:1.5rem;
			}

			@include respond(tab) {
				font-size:1.4rem;
			}

			&:hover {
				color:$primary-orange;
			}

			&.button {
				border-radius: 0;
				border: none;
				background: #333333;
				color:#fff;
				text-shadow: none;
				box-shadow: none;

				@include respond(lt-lg) {
					font-size:1.5rem;
				}

				@include respond(tab) {
					font-size:1.4rem;
				}

				&:hover  {
					color:#fff;
				}
			}

			svg {
				display: inline-block
			}
		}
		
		.email a {
			padding:15px;
			font-size:1.5;

			@include respond(tab) {
				font-size:1.4rem;
			}
			
			&:hover  {
				color:#fff;
			}
		}

		}

		
	}
}

.site-header {
	padding: 1.5rem 3rem;
	box-shadow:0 0 20px rgba(0, 0, 0, 0.05);

	.wrap {
		max-width:1280px;
		margin:0 auto;
	}
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;

	.wp-custom-logo & {
		width: 100%;
		max-width: 350px;
		padding-top: 5px;
		padding-bottom: 5px;

		img {
			width: auto;
		}
	}
}

.site-title {
	margin-bottom: 0;
	font-size: $site-title--font-size;
	font-weight: $font-weight--semibold;
	line-height: $line-height--smaller;

	a,
	a:focus,
	a:hover {
		color: $site-title__link--font-color;
		text-decoration: none;
	}

	.wp-custom-logo & {
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		position: absolute !important;
		width: 1px;
		height: 1px;
		border: 0;
		word-wrap: normal !important;
	}
}

.site-description {
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
	word-wrap: normal !important;
}
