.contentSection {
    padding: 7.5rem 0;

    @include respond(phone) {
        padding: 2.5rem 0;
    }

    &--wrap {
        max-width:144rem;
        margin: 0 auto;

        @include respond(dt-sm) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }

    &--blue {
        background:#0275b1
    }

    &--blueGradient {
        background:linear-gradient(to right, rgba(46,174,227,1) 0%,rgba(2,117,177,1) 100%);
    }

    &--grey {
        background:$tertiary-grey;
    }

    &--greyAngle {
        position:relative;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            -webkit-transform: skewY(-8deg);
            transform: skewY(-8deg);
            background:$tertiary-grey;
        }
    }

    &--flexColumn {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    
    &--clipAngle {
        clip-path:polygon(0 0, 100% 0, 100% 70%, 0 100%);
        padding-bottom:20rem;
    }

    &--aboveBefore {
        margin-top:-20rem;
        position: relative;
        z-index: 10;
        padding-bottom:0;
    }

    &--digitalProductListing {
        background: linear-gradient(to right, #2eaee3 0%, #0275b1 100%);
        clip-path: polygon(0 0, 10% 0, 80% 10vh, 97% 0, 100% 0, 100% 80%, 0 80%);
        padding-top: 13.5rem;
        margin-top: -35rem;
        margin-bottom: -15rem;
    }

    &--digitalYoutube {
        background: #F6F9FC;
        clip-path: polygon(0 10%, 50% 10%, 90% 0, 100% 0, 100% 100%, 0 100%);
        padding-top:12.5rem;
    }

    &--digitalSearch {
        position: relative;

        &::before {
            content: '';
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background: linear-gradient(to right, rgba(227,231,235,0.1) 0, rgba(227,231,235,0.6) 50%, rgba(227,231,235,0.1) 100%);
            width: 100%;
        }
    }

    &--videoFeel {
        background: linear-gradient(to right, #2eaee3 0%, #0275b1 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 90%);
    }
}

.half__container {
    display:flex;
    justify-content: center;
    align-items:center;

    &--left {
        width: 50%;
        padding: 0 6.5rem;

        .button {
            text-align:center;
        }
    }

    &--right {
        width: 50%;
        padding: 0 6.5rem;

        .button {
            text-align:center;
        }
    }

    &--flexColumn {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--vStart {
        align-items:start;
    }
}

.print {

    &-ex-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 115px;
        grid-template-areas: "print-1 print-2 print-2" "print-3 print-3 print-4" "print-3 print-3 print-5";
        height: 100%;
        max-width:95%;
        margin: 0 auto;
      }

    &-block {
        box-shadow:0 4px 6px rgba(50,50,93,.11)
    }

    &-1 {
        grid-area: print-1;
    }
  
    &-2 {
        grid-area: print-2
    }
    
    &-3 {
        grid-area: print-3
    }
    
    &-4 {
        grid-area: print-4
    }
    
    &-5 {
        grid-area: print-5
    }
}