.logo-display {
    background:$primary-blue;
    padding:6.5rem 0;

    .wrap {
        max-width:1280px;
        margin:0 auto;
    }

    h3 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform:uppercase;
        color:#fff;
        font-size:1.6em;

        &:after {
            content: '';
            border-top: 2px solid;
            margin: 0 0 0 20px;
            flex: 1 0 20px;
        }

        &:before {
            content: '';
            border-top: 2px solid;
            margin: 0 20px 0 0;
            flex: 1 0 20px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        margin:20px 1%;
        width:14%;

        @include respond(lt) {
            width: 23%;
        }

        @include respond(phone) {
            width: 31%;
        }

        img {
            display: block;
            margin: 10px auto;
            width: 75%;
        }
    }

}

.partners {
    padding:6.5rem 0;

    .wrap {
        max-width:1280px;
        margin:0 auto;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin:20px 1%;
        width:20%;

        @include respond(lt-lg) {
            width:30%;
        }

        @include respond(phone) {
            width:47%;
        }

        img {
            display: block;
            margin: 10px auto;
            width: 75%;
        }
    }

}