/* Site Navigation
--------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	width: 100%;
	line-height: 1;

	.menu-item {
		display: block;
		float: none;
		position: relative;

		@media only screen and (min-width: $standard-screen-width) {
			display: inline-block;
		}
	}

	.menu-item:focus,
	.menu-item:hover {
		position: relative;
	}

	@media only screen and (min-width: $standard-screen-width) {

		.menu-item:focus .sub-menu:focus,
		.menu-item:hover .sub-menu:hover {
			z-index: 100;
		}
	}

	.menu-item:focus > .sub-menu,
	.menu-item:hover > .sub-menu {
		display: block;
		left: auto;
		opacity: 1;
	}

	> .menu-bold > a {

		@media only screen and (min-width: $standard-screen-width) {
			font-weight: $font-weight--bold;
		}
	}

	> .menu-highlight > a {

		@media only screen and (min-width: $standard-screen-width) {
			margin-left: 15px;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 3px;
			color: $menu-highlight__link--font-color;
			background-color: $menu-highlight__link--background-color;
			font-weight: $font-weight--semibold;
		}
	}

	> .menu-highlight > a:focus,
	> .menu-highlight > a:hover {

		@media only screen and (min-width: $standard-screen-width) {
			background-color: $menu-highlight__link--background-color-hover;
		}
	}

	a {
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		outline-offset: -1px;
		color: $genesis-nav-menu--font-color;
		font-size: $genesis-nav-menu--font-size;
		font-weight: $font-weight--regular;
		text-decoration: none;
	}

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover {
		color: $genesis-nav-menu--font-color-hover;
		text-decoration: none;
	}

	.sub-menu {
		display: block;
		clear: both;
		position: static;
		z-index: 99;
		width: 100%;
		margin: 0;
		padding-left: 15px;
		opacity: 1;

		@media only screen and (min-width: $standard-screen-width) {
			position: absolute;
			width: 180px;
			padding-left: 0;
			border-top: $border-width $border-style $border-color;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
		}

		a {
			position: relative;
			width: 100%;
			background-color: $genesis-nav-menu__sub-menu__link--background-color;
			font-size: $genesis-nav-menu__sub-menu__link--font-size;
			word-wrap: break-word;

			@media only screen and (min-width: $standard-screen-width) {
				width: 180px;
				padding-top: 15px;
				padding-bottom: 15px;
				border: $border-width $border-style $border-color;
				border-top: 0;
			}
		}

		.sub-menu {

			@media only screen and (min-width: $standard-screen-width) {
				margin: -46px 0 0 179px;
			}
		}
	}

	.sub-menu:focus-within {
		opacity: 1;
	}
}


/* Responsive Menu
--------------------------------------------- */

.menu {

	.menu-item:focus {
		position: static;
	}

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}

.genesis-responsive-menu {
	display: none;
	position: relative;
	padding-bottom: 15px;

	@media only screen and (min-width: $standard-screen-width) {
		display: block;
	}

	.genesis-nav-menu {

		.menu-item:hover > .sub-menu,
		.menu-item:focus > .sub-menu {
			display: none;
		}

		.sub-menu {
			display: none;
			clear: both;
			position: static;
			z-index: 99;
			left: -9999px;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			opacity: 1;

			@media only screen and (min-width: $standard-screen-width) {
				position: absolute;
				width: 180px;
				padding-left: 0;
				border-top: $border-width $border-style $border-color;
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
			}
		}
	}
}

.menu-toggle {
	display: none;
	visibility: visible;
	float: right;
	overflow: hidden;
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 0;
	border-width: 0;
	color: $menu-toggle--font-color;
	background-color: transparent;
	line-height: $line-height--big;
	text-align: center;

	@media only screen and (min-width: $standard-screen-width) {
		display: none;
	}

	&:focus,
	&:hover {
		border-width: 0;
		color: $menu-toggle--font-color-hover;
		background-color: transparent;
	}

	&.activated:before {
		content: "\f335";
	}

	.site-header &:before {
		float: left;
		position: relative;
		top: 1px;
		margin-right: 5px;
		text-rendering: auto;
	}
}

.sub-menu-toggle {
	display: block;
	visibility: visible;
	float: right;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	margin: 0 auto;
	padding: 9px 10px;
	border-width: 0;
	color: $sub-menu-toggle--font-color;
	background-color: transparent;
	text-align: center;

	@media only screen and (min-width: $standard-screen-width) {
		display: none;
	}

	&:focus,
	&:hover {
		border-width: 0;
		color: $sub-menu-toggle--font-color-hover;
		background-color: transparent;
	}

	&:before {
		display: inline-block;
		transition: transform 0.25s ease-in-out;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		text-rendering: auto;
	}

	.sub-menu & {
		padding: 12px 10px;
	}

	&.activated:before {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

/* Custom Responsive Menu
--------------------------------------------- */

@media only screen and (min-width: 1170px) {
	.is-fixed {
	  /* when the user scrolls down, we hide the header right above the viewport */
	  position: fixed;
	  top: -80px;
	  background-color: #fff;
	  -webkit-transition: -webkit-transform 0.3s;
	  -moz-transition: -moz-transform 0.3s;
	  transition: transform 0.3s;
	}
	.is-visible {
	  /* if the user changes the scrolling direction, we show the header */
	  -webkit-transform: translate3d(0, 100%, 0);
	  -moz-transform: translate3d(0, 100%, 0);
	  -ms-transform: translate3d(0, 100%, 0);
	  -o-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	}
	.menu-is-open {
	  /* add a background color to the header when the navigation is open */
	  background-color: rgba(2, 23, 37, 0.96);
	}
  }
  
/* Trigger */

.nav-primary-nav-trigger {
	position:absolute;
	right: 5%;
	top: 25px;
	bottom: auto;
	width: 145px;
	z-index: 750;
	height: 30px;
	line-height: 30px;
	background-color: transparent;
	transform: translateY(-50%);

	&:focus {
		outline:none;
	}

	.nav-menu-text {
		color: #000;
		text-transform: uppercase;
		display: none;
		font-size: 1.5em;
		font-family: 'Jura', Helvetica, sans-serif;
	}
	  
	.nav-menu-icon {
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		bottom: auto;
		right: auto;
		transform: translateX(-50%) translateY(-50%);
		width: 32px;
		height: 3px;
		background-color: #000;
		transition: background-color 0.3s;

		&::before,
		&::after {
		  content: "";
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  background-color: #000;
		  right: 0;
		  transition: transform 0.3s, top 0.3s, background-color 0s;
		}

		&::before {
			top: -8px;
		}
		  
		&::after {
			top: 8px;
		}

		&.is-clicked {
		background:#fff;

			&::before,
			&::after {
			background-color: #000;
			}


			&::before {
				top: 0;
				transform: rotate(135deg);
			}
			&::after {
				top: 0;
				transform: rotate(225deg);
			}
		}
	}

}

@media only screen and (min-width: 961px) {
	.nav-primary-nav-trigger:focus {
		outline:none;
	}
	.nav-primary-nav-trigger .nav-menu-text {
		display: inline-block;
	}
	.nav-primary-nav-trigger .nav-menu-icon {
		left: auto;
		right: 1em;
		transform: translateX(0) translateY(-50%);
	}
}

@media only screen and (max-width: 960px) {

	.nav-primary-nav-trigger {
		height: 35px;
		width: 50px;
	}
}


  
.nav-items {
	display: none;
	position: absolute;
	right: 5%;
	top:30px;
	width: 185px;

	@include respond(tab) {
		display: block;
		width: 80px;
		z-index: 2147483648;
	}
}

/* Menu */
  
.nav-primary-nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e4d1', endColorstr='#bdc2bf',GradientType=0 );
	z-index: 2;
	padding: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: auto;
	transform: translateY(-100%);
	transition-property: transform;
	transition-duration: 0.4s;
	z-index: 500;
}

.nav-menu {
	position: absolute;
	left: 5%;
	text-align: left;
	z-index: 10;
	top:30px;
	
	li {
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin: 0;
		text-transform: capitalize;

		&.social-links {
			display: inline-block;
			text-align: left;
			width: auto;
		}
	}	

	a {
		padding: .0 1em 0.75em 0;
		border-radius: 0.25em;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		font-size: 2.75em;
		font-weight:500;
		text-transform: uppercase;
		text-align: left;
		display: block;
		color:#0275b1;
		font-family:'Jura', Helvetica, sans-serif;
		position: relative;
		text-shadow:1px 1px rgba(204,209,199,0.25);
		left:0;
		text-decoration:none;

		&:hover {
			left:5px;
			color:#0275b1;
		}

		.icon {
			padding-right: 15px;
		}
	}

	.submenu {
		text-align: left;
		margin-bottom:10px;
	}

	.sub {
		display: inline-block;

		a {
			font-size:1.75rem;
		}
	}
}
  
.no-touch .nav-menu a:hover, .nav-menu a:hover {
text-shadow:2px 2px rgba(204,209,199,0.5);
}

.nav-menu .nav-label {
color: #000;
text-transform: uppercase;
font-size: 14px;
font-size: 2em;
padding: .4em 1em 0;
margin: 0;
}

.nav-primary-nav.is-visible {
z-index: 2000;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
}
  



/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	width: 100%;

	@media only screen and (min-width: $standard-screen-width) {
		float: right;
		clear: none;
		width: auto;
		padding-top: 15px;
	}

	.genesis-nav-menu a {

		color:$light-black;
		font-size:1.8rem;

		@media only screen and (min-width: $standard-screen-width) {
			padding-right: 15px;
			padding-left: 15px;
		}

		&:hover {
			color:$primary-blue;
		}
	}

	.nav-action a {
		background-color: $primary-orange;
		border: 1px solid $primary-orange;
		color: #fff;
		cursor: pointer;
		font-size:1.6rem;
		font-weight: 600;
		padding: 1.5rem;
		text-decoration: none;
		white-space: normal;
		width: auto;
		color: #fff !important;

		&:hover {
			background-color:$secondary-orange;
		}
	}
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin-top: 10px;

	.genesis-nav-menu {
		line-height: $line-height--medium;
	}

	.menu-item {
		display: inline-block;
	}

	a {
		margin-right: 10px;
		margin-left: 10px;
		padding: 0;
	}
}
