/* Site Navigation
--------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	width: 100%;
	line-height: 1;

	.menu-item {
		display: block;
		float: none;
		position: relative;

		@media only screen and (min-width: $standard-screen-width) {
			display: inline-block;
		}
	}

	.menu-item:focus,
	.menu-item:hover {
		position: relative;
	}

	@media only screen and (min-width: $standard-screen-width) {

		.menu-item:focus .sub-menu:focus,
		.menu-item:hover .sub-menu:hover {
			z-index: 100;
		}
	}

	.menu-item:focus > .sub-menu,
	.menu-item:hover > .sub-menu {
		display: block;
		left: auto;
		opacity: 1;
	}

	> .menu-bold > a {

		@media only screen and (min-width: $standard-screen-width) {
			font-weight: $font-weight--bold;
		}
	}

	> .menu-highlight > a {

		@media only screen and (min-width: $standard-screen-width) {
			margin-left: 15px;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 3px;
			color: $menu-highlight__link--font-color;
			background-color: $menu-highlight__link--background-color;
			font-weight: $font-weight--semibold;
		}
	}

	> .menu-highlight > a:focus,
	> .menu-highlight > a:hover {

		@media only screen and (min-width: $standard-screen-width) {
			background-color: $menu-highlight__link--background-color-hover;
		}
	}

	a {
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		outline-offset: -1px;
		color: $genesis-nav-menu--font-color;
		font-size: $genesis-nav-menu--font-size;
		font-weight: $font-weight--regular;
		text-decoration: none;
	}

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover {
		color: $genesis-nav-menu--font-color-hover;
		text-decoration: none;
	}

	.sub-menu {
		display: block;
		clear: both;
		position: static;
		z-index: 99;
		width: 100%;
		margin: 0;
		padding-left: 15px;
		opacity: 1;

		@media only screen and (min-width: $standard-screen-width) {
			position: absolute;
			width: 180px;
			padding-left: 0;
			border-top: $border-width $border-style $border-color;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
		}

		a {
			position: relative;
			width: 100%;
			background-color: $genesis-nav-menu__sub-menu__link--background-color;
			font-size: $genesis-nav-menu__sub-menu__link--font-size;
			word-wrap: break-word;

			@media only screen and (min-width: $standard-screen-width) {
				width: 180px;
				padding-top: 15px;
				padding-bottom: 15px;
				border: $border-width $border-style $border-color;
				border-top: 0;
			}
		}

		.sub-menu {

			@media only screen and (min-width: $standard-screen-width) {
				margin: -46px 0 0 179px;
			}
		}
	}

	.sub-menu:focus-within {
		opacity: 1;
	}
}


/* Responsive Menu
--------------------------------------------- */

.menu {

	.menu-item:focus {
		position: static;
	}

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}

.genesis-responsive-menu {
	display: none;
	position: relative;
	padding-bottom: 15px;

	@media only screen and (min-width: $standard-screen-width) {
		display: block;
	}

	.genesis-nav-menu {

		.menu-item:hover > .sub-menu,
		.menu-item:focus > .sub-menu {
			display: none;
		}

		.sub-menu {
			display: none;
			clear: both;
			position: static;
			z-index: 99;
			left: -9999px;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			opacity: 1;

			@media only screen and (min-width: $standard-screen-width) {
				position: absolute;
				width: 180px;
				padding-left: 0;
				border-top: $border-width $border-style $border-color;
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
			}
		}
	}
}

.menu-toggle {
	display: block;
	visibility: visible;
	float: right;
	overflow: hidden;
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 0;
	border-width: 0;
	color: $menu-toggle--font-color;
	background-color: transparent;
	line-height: $line-height--big;
	text-align: center;

	@media only screen and (min-width: $standard-screen-width) {
		display: none;
	}

	&:focus,
	&:hover {
		border-width: 0;
		color: $menu-toggle--font-color-hover;
		background-color: transparent;
	}

	&.activated:before {
		content: "\f335";
	}

	.site-header &:before {
		float: left;
		position: relative;
		top: 1px;
		margin-right: 5px;
		text-rendering: auto;
	}
}

.sub-menu-toggle {
	display: block;
	visibility: visible;
	float: right;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	margin: 0 auto;
	padding: 9px 10px;
	border-width: 0;
	color: $sub-menu-toggle--font-color;
	background-color: transparent;
	text-align: center;

	@media only screen and (min-width: $standard-screen-width) {
		display: none;
	}

	&:focus,
	&:hover {
		border-width: 0;
		color: $sub-menu-toggle--font-color-hover;
		background-color: transparent;
	}

	&:before {
		display: inline-block;
		transition: transform 0.25s ease-in-out;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		text-rendering: auto;
	}

	.sub-menu & {
		padding: 12px 10px;
	}

	&.activated:before {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

/* Custom Responsive Menu
--------------------------------------------- */

@media only screen and (min-width: 1170px) {
	.is-fixed {
	  /* when the user scrolls down, we hide the header right above the viewport */
	  position: fixed;
	  top: -80px;
	  background-color: #fff;
	  -webkit-transition: -webkit-transform 0.3s;
	  -moz-transition: -moz-transform 0.3s;
	  transition: transform 0.3s;
	}
	.is-visible {
	  /* if the user changes the scrolling direction, we show the header */
	  -webkit-transform: translate3d(0, 100%, 0);
	  -moz-transform: translate3d(0, 100%, 0);
	  -ms-transform: translate3d(0, 100%, 0);
	  -o-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	}
	.menu-is-open {
	  /* add a background color to the header when the navigation is open */
	  background-color: rgba(2, 23, 37, 0.96);
	}
  }
  
  .nav-logo {
	display: block;
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0.875em;
  }
  .nav-logo img {
	display: block;
  }
  @media only screen and (min-width: 768px) {
	.nav-logo {
	  left: 2.6em;
	}
  }

  .nav-primary-nav-trigger {
	position:absolute;
	right: 0;
	width: 165px;
	z-index: 750;
  }
  .nav-primary-nav-trigger:focus {
	outline:none;
  }
  .nav-primary-nav-trigger .nav-menu-text {
	color: #000;
	text-transform: uppercase;
	/* hide the text on small devices */
	display: none;
	font-size: 1.5em;
	font-family: 'Jura', Helvetica, sans-serif;
  }
  .nav-primary-nav-trigger .nav-menu-icon {
	/* this span is the central line of the menu icon */
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 32px;
	height: 3px;
	background-color: #000;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
	/* these are the upper and lower lines in the menu icon */
  }
  .nav-primary-nav-trigger .nav-menu-icon::before,
  .nav-primary-nav-trigger .nav-menu-icon:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	right: 0;
	-webkit-transition: -webkit-transform 0.3s, top 0.3s, background-color 0s;
	-moz-transition: -moz-transform 0.3s, top 0.3s, background-color 0s;
	transition: transform 0.3s, top 0.3s, background-color 0s;
  }
  .nav-primary-nav-trigger .nav-menu-icon::before {
	top: -8px;
  }
  .nav-primary-nav-trigger .nav-menu-icon::after {
	top: 8px;
  }
  .nav-primary-nav-trigger .nav-menu-icon.is-clicked {
	background:#fff;
  }
  .nav-primary-nav-trigger .nav-menu-icon.is-clicked::before,
  .nav-primary-nav-trigger .nav-menu-icon.is-clicked::after {
	background-color: #000;
  }
  .nav-primary-nav-trigger .nav-menu-icon.is-clicked::before {
	top: 0;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
  }
  .nav-primary-nav-trigger .nav-menu-icon.is-clicked::after {
	top: 0;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
  }
  
  #search {
	  position: absolute;
	  top: 46px;
	  z-index: 500;
  }
  
  @media only screen and (min-width: 961px) {
	.nav-primary-nav-trigger {
	  width: 145px;
	  background-color: transparent;
	  height: 30px;
	  line-height: 30px;
	  right: 5%;
	  top: 55px;
	  bottom: auto;
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
	.nav-primary-nav-trigger:focus {
	  outline:none;
	}
	.nav-primary-nav-trigger .nav-menu-text {
	  display: inline-block;
	}
	.nav-primary-nav-trigger .nav-menu-icon {
	  left: auto;
	  right: 1em;
	  -webkit-transform: translateX(0) translateY(-50%);
	  -moz-transform: translateX(0) translateY(-50%);
	  -ms-transform: translateX(0) translateY(-50%);
	  -o-transform: translateX(0) translateY(-50%);
	  transform: translateX(0) translateY(-50%);
	}
  
	.nav-items {
	  position: absolute;
	  right: 5%;
	  width: 185px;
	  display: none;
	}
  }
  @media only screen and (max-width: 960px) {
  
	.nav-items {
	  position: absolute;
	  right: 5%;
	  width: 80px;
	  display: block;
	  z-index: 2147483648;
	  top:30px;
	}
  
	.nav-primary-nav-trigger {
	  height: 35px;
	  width: 50px;
	}
  }
  
  .nav-primary-nav {
	/* by default it's hidden - on top of the viewport */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e4d1', endColorstr='#bdc2bf',GradientType=0 );
	z-index: 2;
	padding: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
	z-index: 500;
  }
  .nav-menu li {
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	text-transform: capitalize;
  }
  
  .nav-menu li.social-links {
	  display: inline-block;
	  text-align: left;
	  width: auto;
  }
  .nav-menu a {
	padding: .0 1em 0.75em 0;
	border-radius: 0.25em;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 1.75em;
	font-weight:500;
	text-transform: uppercase;
	text-align: left;
	display: block;
	color:#0275b1;
	font-family:'Jura', Helvetica, sans-serif;
	position: relative;
	text-shadow:1px 1px rgba(204,209,199,0.25);
	left:0;
  }
  
  .nav-menu a:hover {
	left:5px;
	color:#0275b1;
  }
  
  .nav-menu a .icon {
	  padding-right: 15px;
  }
  
  .no-touch .nav-menu a:hover, .nav-menu a:hover {
	text-shadow:2px 2px rgba(204,209,199,0.5);
  }
  .nav-menu .nav-label {
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 2em;
	padding: .4em 1em 0;
	margin: 0;
  }
  
  .nav-menu .submen {
	text-align: left;
	margin-bottom:10px;
  }
  
  .nav-menu .sub {
	display: inline-block;
	font-size: 0.75em;
  }
  .nav-menu .nav-social, .nav-menu-left .nav-social {
	display: inline-block;
	margin: 0;
  }
  .nav-menu .nav-social a, .nav-menu-left .nav-social a {
	padding: 0 10px 0 0;
	font-size:1.5em;
	position: relative;
	left:0;
  }
  
  .nav-menu-left .nav-social a:hover {
	left:2px;
	color:#0275b1;
  }
  .nav-menu .nav-facebook a {
	background-position: 0 0;
  }
  .nav-menu .nav-instagram a {
	background-position: -44px 0;
  }
  .nav-menu .nav-dribbble a {
	background-position: -88px 0;
  }
  .nav-menu .nav-twitter a {
	background-position: -132px 0;
  }
  .nav-primary-nav.is-visible {
	z-index: 2000;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
  }
  @media only screen and (min-width: 768px) {
	.nav-primary-nav {
	  padding: 80px 0;
	}
  }
  @media only screen and (min-width: 1170px) {
	.nav-menu li {
	  font-size: 30px;
	  font-size: 1.875rem;
	}
	.nav-menu .nav-label {
	  font-size: 16px;
	  font-size: 1rem;
	}
  
  }
  
  .nav-intro {
	position: relative;
	height: 100%;
	background: url("../img/nav-background-img.jpg") no-repeat center center;
	background-size: cover;
	z-index: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .nav-intro h1 {
	position: absolute;
	width: 90%;
	max-width: 1170px;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	color: white;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	text-align: center;
  }
  @media only screen and (min-width: 768px) {
	.nav-intro h1 {
	  font-size: 30px;
	  font-size: 1.875rem;
	}
  }
  @media only screen and (min-width: 1170px) {
	.nav-intro {
	  height: 700px;
	}
  }
  
  .nav-main-content {
	position: relative;
	z-index: 1;
  }
  .nav-main-content p {
	line-height: 1.6;
	margin: 2em 0;
  }
  @media only screen and (min-width: 1170px) {
	.nav-main-content p {
	  font-size: 20px;
	  font-size: 1.25rem;
	}
  }
  
  nav .nav-contact {
	  position: absolute;
	  top: 50%;
	  transform:translateY(-50%);
	  color: #fff;
	  z-index: 11;
	  left: 10%;
	  transition: 0.5s ease-in-out;
	  transition-delay: 0.25s;
	  font-family: 'Jura', Helvetica, sans-serif;
  }
  
  nav .nav-contact p {
	color:#000;
	font-size: 1.25em;
	margin-bottom:20px;
  }
  
  nav .nav-contact a {
	text-decoration: none;
  }
  
  nav .nav-contact .contactTel a .icon {
	  margin-right: 10px;
  }
  
  nav .nav-menu {
	  position: absolute;
	  left: 10%;
	  text-align: left;
	  z-index: 10;
	  top: 25px;
  }



/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	width: 100%;

	@media only screen and (min-width: $standard-screen-width) {
		float: right;
		clear: none;
		width: auto;
		padding-top: 15px;
	}

	.genesis-nav-menu a {

		color:$light-black;
		font-size:1.8rem;

		@media only screen and (min-width: $standard-screen-width) {
			padding-right: 15px;
			padding-left: 15px;
		}

		&:hover {
			color:$primary-blue;
		}
	}

	.nav-action a {
		background-color: $primary-orange;
		border: 1px solid $primary-orange;
		color: #fff;
		cursor: pointer;
		font-size:1.6rem;
		font-weight: 600;
		padding: 1.5rem;
		text-decoration: none;
		white-space: normal;
		width: auto;
		color: #fff !important;

		&:hover {
			background-color:$secondary-orange;
		}
	}
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin-top: 10px;

	.genesis-nav-menu {
		line-height: $line-height--medium;
	}

	.menu-item {
		display: inline-block;
	}

	a {
		margin-right: 10px;
		margin-left: 10px;
		padding: 0;
	}
}
