
@font-face {
   font-family: 'Ambarella';
   src: url('assets/fonts/Ambarella.eot') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Ambarella';
   src:  url('assets/fonts/Ambarella.otf')  format('opentype'),
          url('assets/fonts/Ambarella.ttf')  format('truetype'), 
          url('assets/fonts/Ambarella.svg#Ambarella') format('svg');
 }

 .number {

    &--lrg {
      font-size:6rem;
      font-weight:bold;
      margin-bottom:15px;
    }
 }
 
 .heading-primary {
      color:$primary-blue;
      font-size:4.25rem;
      font-weight:300;
      line-height:100%;
      text-transform: uppercase;
      margin:0 0 2rem;

      span {
        font-weight:bold;
      }

      @include respond(lt) {
        font-size:3rem;
      }

      @include respond(tab) {
        font-size:2.25rem
      }

      @include respond(phone) {
        font-size:2.15rem
      }
 }
 
 .heading-secondary {
     font-size:3.5rem;
     margin-top:0;
     font-weight:bold;

     @include respond(lt) {
       font-size:2.5rem;
     }

     @include respond(phone) {
       font-size:2.25rem
     }
 }
 
 .heading-third {
     font-size:2.75rem;

     @include respond(lt) {
       font-size:2rem;
     }

     @include respond(phone) {
       font-size:1.5rem
     }
 }
 
 .heading-fourth {
     font-size:2rem;

     @include respond(lt) {
       font-size:1.85rem;
     }

     @include respond(phone) {
       font-size:1.5rem
     }
 }

 .test-font {
   font-family: 'Lato';
 }

 .heading-bg {
    padding-bottom:1rem;
    width:100%;
 }

 .paragraph {
 }

 .content {

    ol,
    ul {
      margin: 0 0 3rem 4rem;
      padding: 0;

      &.orange {
        
        li {
          list-style: none;
          margin-bottom:15px;
          font-size: 3em;
          color:#0275b1;
        
          &::before {
            content: "\2022";
            color: #f9a332;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }
    }

    li {
      list-style-type:disc;
      font-size:1.9rem;
      line-height: 150%;
    }
 }

 .text {
 
  &--center {
    text-align:center;
  }

  &--white {
    color:#fff;
  }

  &--blue {
    color:#1277af;
  }

  &--underline {
    border-bottom:2px solid #000;
  }

  &--underlineBlue {
   border-bottom:2px solid #1277af;
   margin-bottom:1.5rem;
  }
}