// Base Colors
$black: #000;
$secondary-black:#1b1b1b;
$light-black:#333;
$white: #fff;
$primary-blue: #1277af;
$secondary-blue: #2eacdf;
$tertiary-blue:#9BACBD;
$primary-orange:#faa433;
$secondary-orange:#ffba60;
$primary-grey: #333;
$secondary-grey:#f9f9f9;
$tertiary-grey:#F6F9FC;

// Base Fonts
$base-font: "Lato", sans-serif;

// Screen widths, Media queries - WC widths in WC variables
$standard-screen-width: 960px;
$wrap-width:1032px;

// Border styles
$border-width: 1px;
$border-style: solid;
$border-color: $primary-grey;

// Box Shadow
$box-shadow-blur-radius: 20px;
$box-shadow-opacity: 0.05;

$body--font-size: 1rem;
$h1--font-size: 1rem;
$h2--font-size: 1rem;
$h3--font-size: 1rem;
$h4--font-size: 1rem;
$h5--font-size: 1rem;
$h6--font-size: 1rem;
$button--font-size: 1rem;
$archive-author-box__entry-title--font-size: 1rem;
$breadcrumb--font-size: 1rem;
$entry-title--font-size: 1rem;
$featured-content__entry-title--font-size: 1rem;
$enews-widget__input--font-size: 1rem;
$site-title--font-size: 1rem;
$genesis-nav-menu--font-size: 1rem;
$genesis-nav-menu__sub-menu__link--font-size: 1rem;
$sidebar--font-size: 1rem;
$entry-content__caption--font-size: 1rem;
$entry-meta--font-size: 1rem;
$comments--font-size: 1rem;
$footer-widgets--font-size: 1rem;
$site-footer--font-size: 1rem;
$forms--font-size: 1rem;
$widget-title--font-size: 1rem;
$archive-pagination--font-size: 1rem;
$blockquote__before--font-size: 1rem;
$after-entry__breadcrumb--font-size: 1rem;

// Font families
$body--font-family: $base-font;
$headings--font-family: $base-font;

// Font weights
$font-weight--regular: 400;
$font-weight--semibold: 600;
$font-weight--bold: 700;

// Line heights
$line-height--big: 2;
$line-height--large: 1.75;
$line-height--normal: 1.625;
$line-height--medium: 1.5;
$line-height--medium-small: 1.4;
$line-height--small: 1.2;
$line-height--smaller: 1;

// Font colors
$body--font-color: $primary-grey;
$link--font-color: $primary-orange;
$link--font-color-hover: $secondary-orange;
$button--font-color: $white;
$button--font-color-hover: $white;
$entry-title__link--font-color: $primary-orange;
$entry-title__link--font-color-hover: $secondary-orange;
$site-title__link--font-color: $primary-orange;
$genesis-nav-menu--font-color: $primary-orange;
$genesis-nav-menu--font-color-hover: $secondary-orange;
$menu-toggle--font-color: $primary-orange;
$menu-toggle--font-color-hover: $secondary-orange;
$sub-menu-toggle--font-color: $primary-orange;
$sub-menu-toggle--font-color-hover: $secondary-orange;
$menu-highlight__link--font-color: $white;
$sidebar__widget-title--font-color: $primary-orange;
$forms--font-color: $primary-orange;
$archive-pagination--font-color: $primary-orange;
$archive-pagination--font-color-hover: $white;
$gs-faq__question--font-color: $primary-orange;
$gs-faq__question--font-color-hover: $secondary-orange;
$disabled--font-color: $primary-orange;

// Background colors
$body--background-color: $white;
$site-header--background-color: $white;
$mark--background-color: $primary-grey;
$button--background-color: $primary-grey;
$button--background-color-hover: $primary-blue;
$genesis-nav-menu__sub-menu__link--background-color: $white;
$footer-widgets--background-color: $white;
$menu-highlight__link--background-color: $primary-grey;
$menu-highlight__link--background-color-hover: $primary-blue;
$forms__background-color: $white;
$sticky--background-color: $primary-grey;
$author-box--background-color: $primary-grey;
$code--background-color: $primary-grey;
$archive-pagination--background-color: $primary-grey;
$archive-pagination--background-color-hover: $primary-grey;
$enews__sidebar--background-color: $primary-grey;
$disabled--background-color: $primary-grey;

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == dt-lg {
        @media only screen and (min-width: 112.5em) { @content };    // 1800
    }
    @if $breakpoint == dt-md {
        @media only screen and (max-width: 80em) { @content };    // 1600px
    }
    @if $breakpoint == dt-sm {
        @media only screen and (max-width: 90em) { @content };    // 1440px
    }
    @if $breakpoint == lt-lg {
        @media only screen and (max-width: 80em) { @content };    // 1280px
    }
    @if $breakpoint == lt {
        @media only screen and (max-width: 66.25em) { @content };    // 1060px
    }
    @if $breakpoint == tab {
        @media only screen and (max-width: 56.25em) { @content };     // 900px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 47.5em) { @content };    // 760px
    }
}