// Base Colors
$black: #000;
$primary-blue: #447478;
$secondary-blue: #a1bab6;
$gold: #c9a45d;
$white: #fff;
$light-grey-1: #ddd;
$light-grey-2: #eee;
$light-grey-3: #f5f5f5;
$mid-grey-1: #7e7e7e;
$dark-grey-1: #333;

// Base Fonts
$base-font: "Lora", sans-serif;

// Screen widths, Media queries - WC widths in WC variables
$standard-screen-width: 960px;
$wrap-width:1032px;

// Border styles
$border-width: 1px;
$border-style: solid;
$border-color: $light-grey-1;

// Box Shadow
$box-shadow-blur-radius: 20px;
$box-shadow-opacity: 0.05;

$body--font-size: 1rem;
$h1--font-size: 1rem;
$h2--font-size: 1rem;
$h3--font-size: 1rem;
$h4--font-size: 1rem;
$h5--font-size: 1rem;
$h6--font-size: 1rem;
$button--font-size: 1rem;
$archive-author-box__entry-title--font-size: 1rem;
$breadcrumb--font-size: 1rem;
$entry-title--font-size: 1rem;
$featured-content__entry-title--font-size: 1rem;
$enews-widget__input--font-size: 1rem;
$site-title--font-size: 1rem;
$genesis-nav-menu--font-size: 1rem;
$genesis-nav-menu__sub-menu__link--font-size: 1rem;
$sidebar--font-size: 1rem;
$entry-content__caption--font-size: 1rem;
$entry-meta--font-size: 1rem;
$comments--font-size: 1rem;
$footer-widgets--font-size: 1rem;
$site-footer--font-size: 1rem;
$forms--font-size: 1rem;
$widget-title--font-size: 1rem;
$archive-pagination--font-size: 1rem;
$blockquote__before--font-size: 1rem;
$after-entry__breadcrumb--font-size: 1rem;

// Font families
$body--font-family: $base-font;
$headings--font-family: $base-font;

// Font weights
$font-weight--regular: 400;
$font-weight--semibold: 600;
$font-weight--bold: 700;

// Line heights
$line-height--big: 2;
$line-height--large: 1.75;
$line-height--normal: 1.625;
$line-height--medium: 1.5;
$line-height--medium-small: 1.4;
$line-height--small: 1.2;
$line-height--smaller: 1;

// Font colors
$body--font-color: $dark-grey-1;
$link--font-color: $primary-blue;
$link--font-color-hover: $dark-grey-1;
$button--font-color: $white;
$button--font-color-hover: $white;
$entry-title__link--font-color: $dark-grey-1;
$entry-title__link--font-color-hover: $primary-blue;
$site-title__link--font-color: $dark-grey-1;
$genesis-nav-menu--font-color: $dark-grey-1;
$genesis-nav-menu--font-color-hover: $primary-blue;
$menu-toggle--font-color: $dark-grey-1;
$menu-toggle--font-color-hover: $primary-blue;
$sub-menu-toggle--font-color: $dark-grey-1;
$sub-menu-toggle--font-color-hover: $primary-blue;
$menu-highlight__link--font-color: $white;
$sidebar__widget-title--font-color: $dark-grey-1;
$forms--font-color: $dark-grey-1;
$archive-pagination--font-color: $dark-grey-1;
$archive-pagination--font-color-hover: $white;
$gs-faq__question--font-color: $dark-grey-1;
$gs-faq__question--font-color-hover: $primary-blue;
$disabled--font-color: $mid-grey-1;

// Background colors
$body--background-color: $white;
$site-header--background-color: $white;
$mark--background-color: $light-grey-1;
$button--background-color: $dark-grey-1;
$button--background-color-hover: $primary-blue;
$genesis-nav-menu__sub-menu__link--background-color: $white;
$footer-widgets--background-color: $white;
$menu-highlight__link--background-color: $dark-grey-1;
$menu-highlight__link--background-color-hover: $primary-blue;
$forms__background-color: $white;
$sticky--background-color: $light-grey-1;
$author-box--background-color: $light-grey-1;
$code--background-color: $light-grey-1;
$archive-pagination--background-color: $light-grey-1;
$archive-pagination--background-color-hover: $dark-grey-1;
$enews__sidebar--background-color: $light-grey-1;
$disabled--background-color: $light-grey-1;

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == dt-lg {
        @media only screen and (min-width: 112.5em) { @content };    // 1800
    }
    @if $breakpoint == dt-sm {
        @media only screen and (max-width: 80em) { @content };    // 1200px
    }
    @if $breakpoint == lt {
        @media only screen and (max-width: 66.25em) { @content };    // 1060px
    }
    @if $breakpoint == tab {
        @media only screen and (max-width: 60em) { @content };     // 960px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    // 600px
    }
}